.slider { color: #666;display:inline-block; margin:0;text-transform:uppercase; }
.slider:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.slider:hover:after { transform: scaleX(1); }
/* h1.fromRight:after{ transform-origin:100% 50%; }
h1.fromLeft:after{  transform-origin:  0% 50%; } */


 .makeStyles-popper-781 {
  border:2px solid red !important;
}