

.flicking-pagination-bullet {
    width: 2rem !important;
    height: .33rem !important;
    margin: 0 .2rem !important;
    border-radius: 1rem !important;
    background-color: rgb(255, 255, 255) !important;
  }
  .flicking-pagination-bullet-active {
    background-color: #ff0000 !important;
  }
  
  .flicking-pagination{
    width: 50%;
    bottom: 20px !important;
    /* transform:  translateX(-48%) translateY(-8rem) rotate(-90deg); */
  }





/* Vertical Tabs CSS In Materia UI in HOMEPAGE*/

/* .makeStyles-tabs-134 {
  width: 50% !important;
} */

/* .makeStyles-tab-135{
  text-align: left !important;
} */

.MuiTab-wrapper {
  align-items: flex-start !important;
}

.PrivateTabIndicator-vertical-142{
    left:0 !important;
  }


.PrivateTabIndicator-vertical-148{
  left:0 !important;
}

  .MuiTab-root{
    max-width: 200px;
  }



/* Offering carousel buton CSS */

.flicking-arrow-prev{
  left:0 !important;
  top:70% !important
}

.flicking-arrow-next{
  left:0 !important;
  top:90% !important
}

/* .flicking-arrow-prev, .flicking-arrow-next{
  border: 2px solid red;
} */
    