/* Grid background style on whole page */

body {
  background-image: radial-gradient(#c5c5c542 3%, transparent 20%);
  background-position: 0 0, 50px 50px;
  background-size: 30px 30px;
  scroll-behavior: smooth;
  
}




.flicking-viewport {
    transition: height 500ms;
  }
  .flicking-arrow-prev::before, 
  .flicking-arrow-prev::after, 
  .flicking-arrow-next::before, 
  .flicking-arrow-next::after {
    background-color: rebeccapurple;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  /* //font-size */

  h1{
    font-family: BebasNeue;
    font-size: 2rem;
    font-weight: normal;
    color: white;
  }
  
  h2{
    font-family: BebasNeue;
    font-size: 2.8rem;
    font-weight: normal;
    color:white;
  }
  
  h3{
    font-family: BebasNeue;
    font-size: 2rem;
    font-weight: normal;
    color: white;
  
  }
  
  h4{
    font-family: Access;
    font-size: .9rem;
    font-weight: normal;
    color: white;
  }

  h5{
    font-family: BebasNeue;
    font-size: 2.2rem;
    font-weight: normal;
    color: white;
  }
  
  h6{
    font-family: Access;
    font-size: .7rem;
    font-weight: normal;
    color: white;
  }
  br{
    display: block;
  }
  hr{
    margin: .5% 0%;
  }
  ul{
    font: normal normal normal 0.7rem Access;
  }
  li{
    font: normal normal normal 0.6rem Access;
  }

  .li{
    text-indent: -14px;
    margin-left: 22px;
  }
   

    

    @media screen and (min-width: 600px) {
      h1{
        font-family: BebasNeue;
        font-size: 2rem;
        font-weight: normal;
        color: white;
      }
      
      h2{
        font-family: BebasNeue;
        font-size: 3rem;
        font-weight: normal;
        color:white;
      }
      
      h3{
        font-family: BebasNeue;
        font-size: 2.3rem;
        font-weight: normal;
        color: white;
      
      }
      
      h4{
        font-family: Access;
        font-size: .9rem;
        font-weight: normal;
        color: white;
      }
      h5{
        font-family: BebasNeue;
        font-size: 5rem;
        font-weight: normal;
        color: white;
      }
      
      h6{
        font-family: Access;
        font-size: .8rem;
        font-weight: normal;
        color: white;
      }

      br{
        display:none;
      }

      ul{
        font: normal normal normal 0.8rem Access;
      }
      li{
        font: normal normal normal 0.7rem Access;
      }
    }

    @media screen and (min-width: 960px) {
      h1{
        font-family: BebasNeue;
        font-size: 5rem;
        font-weight: normal;
        color: white;
      }
      
      h2{
        font-family: BebasNeue;
        font-size: 3rem;
        font-weight: normal;
        color:white;
      }
      
      h3{
        font-family: BebasNeue;
        font-size: 2.3rem;
        font-weight: normal;
        color: white;
      
      }
      
      h4{
        font-family: Access;
        font-size: 1rem;
        font-weight: normal;
        color: white;
      }

      h5{
        font-family: BebasNeue;
        font-size: 6rem;
        font-weight: normal;
        color: white;
      }
      
      h6{
        font-family: Access;
        font-size: 1rem;
        font-weight: normal;
        color: white;
      }
      br{
        display: block;
      }
      ul{
        font: normal normal normal 0.8rem Access;
      }
      li{
        font: normal normal normal 0.7rem Access;
      }
      .li{
        text-indent: -16px;
        margin-left: 22px;
      }
      
    }

    @media screen and (min-width: 1300px) {
      h1{
        font-family: BebasNeue;
        font-size: 5rem;
        font-weight: normal;
        color: white;
      }
      
      h2{
        font-family: BebasNeue;
        font-size: 4rem;
        font-weight: normal;
        color:white;
      }
      
      h3{
        font-family: BebasNeue;
        font-size: 2.5rem;
        font-weight: normal;
        color: white;
      
      }
      
      h4{
        font-family: Access;
        font-size: 1.4rem;
        font-weight: normal;
        color: white;
      }

      h5{
        font-family: BebasNeue;
        font-size: 8rem;
        font-weight: normal;
        color: white;
      }
      
      h6{
        font-family: Access;
        font-size: 1.2rem;
        font-weight: normal;
        color: white;
      }
      br{
        display: block;
      }
      ul{
        font: normal normal normal 0.9rem Access;
      }
      li{
        font: normal normal normal 0.8rem Access;
      }
      .li{
        text-indent: -20px;
        margin-left: 20px;
      }
    }
    @media screen and (min-width: 1441px) {
      
      h1{
        font-family: BebasNeue;
        font-size: 5.8rem;
        font-weight: normal;
        color: white;
      }
      
      h2{
        font-family: BebasNeue;
        font-size: 5rem;
        font-weight: normal;
        color:white;
      }
      
      h3{
        font-family: BebasNeue;
        font-size: 3rem;
        font-weight: normal;
        color: white;
      
      }
      
      h4{
        font-family: Access;
        font-size: 1.5rem;
        font-weight: normal;
        color: white;
      }
      
      h5{
        font-family: BebasNeue;
        font-size: 10.5rem;
        font-weight: normal;
        color: white;
      }

      h6{
        font-family: Access;
        font-size: 1.2rem;
        font-weight: normal;
        color: white;
      }

      br{
        display: block;
      }

      ul{
        font: normal normal normal 1.2rem Access;
      }
      li{
        font: normal normal normal 1rem Access;
       
      }
      .li{
        text-indent: -21px;
        margin-left: 21px;
      }

      /* header.linkActive{
        color:'white',

      }

      header.linkActive.clsAfterPos{
        color:'red',
      } */
    }
    





    /* //animtion */

  .redbarBox{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 83px 0 rgb(9 29 62 / 5%);
    box-shadow: 0 5px 83px 0 rgb(9 29 62 / 5%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
.redbarBox{
  transition: all 800ms linear;
  position: relative;
 }

 

.redbarBox .redbar::before{
  width: calc(80% );
  background-color: #e6e8eb;
}


.redbarBox .redbar::before , .redbarBox .redbar::after {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 10%;
    border:2px solid red;
    height: 8px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}


.redbarBox:hover .redbar::after{
  /* width: 100%; */
  background-color: red;

}



/* .redbar{
  animation: redbarOut 800ms linear ;
}


  .redbarBox:hover .redbar{
    background: #DE141A;
    animation-name: redbarIn;
    animation-timing-function: ease-in;
    animation-duration: 1000ms;
  }


    @keyframes redbarIn {
        0% {
          transform: translateX(-100%)
        };
        100%{
          transform: translateX(0%)
        }
    }

    @keyframes redbarOut {
        0% {
          transform: translateX(0%)
        };
        100%{
          transform: translateX(-200%)
        }
    } */

