*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

@font-face {
  font-family: BebasNeue;
  src: url(./components/assets/fonts/Bebas/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Access;
  src: url(./components/assets/fonts/Access/Access-Regular.ttf);
}